// Colors Palette
$darkGray: #3d3d3d;
$bg-lightgrey: #EBEEED;
$logo-color: #FFBD59;
$logo-color-light: rgba(255, 189, 89, 0.3);
$darkBlue: #213644;
$lightGray: #b9c2c4;
$lightBlue: #396E91;
$lightLightBlue: rgba(57, 110, 145, 0.3);